:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
}
.leaflet-container {
  width: 100%;
  height: 600px;
}

/* Fix for marker icon */
.leaflet-marker-icon {
  background: none;
  border: none;
}
/* ... existing styles ... */

.accelerometer-canvas {
  width: 100% !important;
  height: 100% !important;
}
.custom-card {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: var(--ant-text-color) !important;
}

.custom-card .ant-card-head {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: var(--ant-text-color) !important;
}

.custom-card .ant-card-head {
  background-color: var(--ant-card-head-background) !important;
}

.custom-card .ant-statistic-title,
.custom-card .ant-statistic-content-value,
.custom-card .ant-statistic-content-suffix {
  color: var(--ant-text-color) !important;
}

[data-theme='dark'] .custom-card .ant-statistic-title,
[data-theme='dark'] .custom-card .ant-statistic-content-value,
[data-theme='dark'] .custom-card .ant-statistic-content-suffix {
  color: #fff !important;
}
[data-theme='dark'] .dashboard-statistic .ant-statistic-title,
[data-theme='dark'] .dashboard-statistic .ant-statistic-content {
  color: white !important;
}